<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KalamAppMain.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6C48306520D7CA1A00C16C58</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6C48307920D7CA1A00C16C58</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6C48308420D7CA1A00C16C58</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
